includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    phpVersion: 80100
    paths:
        - bin
        - src
        - tests
    excludePaths:
        - tests/_fixtures/
    tmpDir: cache/phpstan/
    internalErrorsCountLimit: 1
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
            throwTypeCovariance: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - LogicException

    editorUrl: null
    editorUrlTitle: '%%relFile%%:%%line%%'

    ignoreErrors:
        -
            identifier: missingType.checkedException
            path: tests/*

       # support variety of symfony/console versions
        -
            message: '#^Variable method call on \$this\(ShipMonk\\CopyPasteDetector\\CLI\\Application\)\.$#'
            path: src/CLI/Application.php
        -
            message: '#^Call to function method_exists\(\) with \$this\(ShipMonk\\CopyPasteDetector\\CLI\\Application\) and ''addCommand'' will always evaluate to (true|false)\.$#'
            path: src/CLI/Application.php
            reportUnmatched: false
        -
            message: '#^Call to an undefined method ShipMonk\\CopyPasteDetector\\CLI\\Application::add\(\)\.$#'
            path: src/CLI/Application.php
            reportUnmatched: false

        # support sebastian/diff v4 and v5+
        -
            message: "#Call to function method_exists\\(\\) with SebastianBergmann\\\\Diff.*#"
            path: src/Detection/PatchParser.php

    shipmonkDeadCode:
        detect:
            deadEnumCases: true
        usageExcluders:
            tests:
                enabled: true

    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                Symfony\Component\Console\Command\Command: Command
                PHPUnit\Framework\TestCase: Test
                Exception: Exception
